<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flagshen.myqq.dao.props.mapper.PropsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.flagshen.myqq.dao.props.entity.PropsDO">
        <id column="props_id" property="propsId" />
        <result column="qq_num" property="qqNum" />
        <result column="props_name" property="propsName" />
        <result column="is_used" property="isUsed" />
        <result column="is_delete" property="isDelete" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        props_id, qq_num, props_name, is_used, is_delete, modify_time, create_time
    </sql>
    <select id="getPropsCount" resultType="top.flagshen.myqq.dao.props.dto.PropsTotal">
        SELECT props_name, COUNT(*) as total
        FROM props
        <where>
            <if test="qq != null and qq != ''">
                and qq_num = #{qq}
            </if>
            <if test="isUsed != null">
                and is_used = #{isUsed}
            </if>
        </where>
        GROUP BY props_name
    </select>

</mapper>
