<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flagshen.myqq.dao.props.mapper.PropsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.flagshen.myqq.dao.props.entity.PropsDO">
        <id column="props_id" property="propsId" />
        <result column="qq_num" property="qqNum" />
        <result column="props_name" property="propsName" />
        <result column="is_used" property="isUsed" />
        <result column="is_delete" property="isDelete" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        props_id, qq_num, props_name, is_used, is_delete, modify_time, create_time
    </sql>
    <select id="getPropsCount" resultType="top.flagshen.myqq.dao.props.dto.PropsTotal">
        SELECT props_name, COUNT(*) as total
        FROM props
        <where>
            <if test="qq != null and qq != ''">
                and qq_num = #{qq}
            </if>
            <if test="isUsed != null">
                and is_used = #{isUsed}
            </if>
        </where>
        GROUP BY props_name
    </select>
    <select id="getBloodCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM props
        WHERE qq_num = #{qq}
        AND is_delete = 0
        AND is_used = 0
        AND props_name = '医疗包'
        AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt; date(create_time)
    </select>
    <select id="getFirstBlood" resultType="top.flagshen.myqq.dao.props.entity.PropsDO">
        select * from props
        WHERE qq_num = #{qq}
        AND is_delete = 0
        AND is_used = 0
        AND props_name = '医疗包'
        AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt; date(create_time)
        limit 1
    </select>
    <select id="getRankUsedBlood" resultType="top.flagshen.myqq.entity.userinfo.resp.RankResp">
        SELECT qq_num,COUNT(1) as NUMBER
        from props
        WHERE is_delete = 0
        AND props_name = '医疗包'
        AND is_used = 1
        GROUP BY qq_num
        ORDER BY NUMBER DESC,qq_num asc
        LIMIT 30
    </select>
    <select id="getMyRankBlood" resultType="java.lang.String">
        SELECT num FROM
        (select qq_num, NUMBER ,ROW_NUMBER() OVER(ORDER BY NUMBER DESC) as num
        FROM (SELECT qq_num, COUNT(1) as NUMBER
        from props
        WHERE is_delete = 0
        AND props_name = '医疗包'
        AND is_used = 1
        GROUP BY qq_num
        ORDER BY NUMBER DESC,qq_num asc) t ) a
        WHERE qq_num = #{qqNum}
    </select>

</mapper>
